* {
  transition: all 0.7s;
}
.card {
  padding: 0.5rem;
  background-color: #272d40;
  color: linear-gradient(
    -90deg,
    rgba(9, 121, 50, 1) 30%,
    rgba(0, 212, 255, 1) 100%
  );
}

.img {
  object-fit: cover;
  margin-left: auto !important;
  margin-right: auto !important;
  cursor: pointer;
  width: 80% !important;
}

.cardFlex {
  display: flex;
  align-items: center;
}

p,
h6 {
  background: -webkit-linear-gradient(
    180deg,
    rgb(61, 212, 117) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.spanSize {
  padding: 5px 10px;
  background-color: #dadada;
  margin-right: 5px;
  border-radius: 0.25rem;
  font-weight: bold;
}

.redDot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: red;
  margin-right: 5px;
}
.blackDot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: black;
  margin-right: 5px;
}
.greenDot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: green;
  margin-right: 5px;
}

.cardBody {
  transform: translateY(100%);
  visibility: hidden;
  opacity: 0;
}

.item:hover .cardBody {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

.item:hover .cardTitle {
  transform: translateY(-50px);
}
.item:hover .cardText {
  transform: translateY(-50px);
}

.item:hover .img {
  transform: rotate(-50deg) translateX(20%) translateY(-28%);
  text-shadow: 10px 10px #000;

}
